@font-face {
    font-family:"IRANSansX-DemiBold" ;
    src: url("../font/IRANSansX-DemiBold.woff") format("woff");
}
@font-face {
    font-family:"IRANSansXFaNum-Bold" ;
    src: url("../font/IRANSansXFaNum-Bold.woff") format("woff");
}
@font-face {
    font-family: "IRANSansXFaNum-DemiBold";
    src: url("../font/IRANSansXFaNum-DemiBold.woff") format("woff");
}
@font-face {
    font-family:"KalamehWebFaNum-Bold" ;
    src: url("../font/KalamehWebFaNum-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "IRANSansXFaNum-Medium";
    src: url("../font/IRANSansXFaNum-Medium.woff");
}
@font-face {
    font-family: "IRANSansX-Regular";
    src: url("../font/IRANSansX-Regular.woff");
}